*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    height: 80%;
    border: 2px solid rgb(222, 44, 44);
    display: flex;
    justify-content: center;
    align-items: center;

}